html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    
    
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
     
 }
 .info-element {
     text-align: right;
     padding-right: 15px;
     font-style: italic;
     
 }
 .rob {
  border: 1px solid transparent;
  border-color: #C30C21;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#{
    padding: 5px 5px 5px 32px;
    background-image: url(slike/restaurant_logo_mini.png);
    background-repeat: no-repeat;
    
}
